<template>
  <div class="settings">

    <div class="settings__icon" :class="{settings__icons_active : show}" @click="show = !show">
      <i class="material-icons">settings</i>
    </div> 

    <transition name="fade">
      <div class="settings__menu"  v-if="show">

        <div class="settings__menu_rules">
          <p>Manage rules</p>
        </div>

        <div class="settings__menu_inputs">

          <div class="settings__menu_duration">
            <label for="duration">duration</label>
            <input type="text" id="duration" v-model="duration">
          </div>

          <div class="settings__menu_minvotes">
            <label for="votestopass">min. votes to pass</label>
            <input type="text" id="votestopass" v-model="votesToPass"> 
          </div>

          <div class="settings__menu_uservotes">
            <label for="uservotes">votes per user</label>
            <input type="text" id="uservotes" v-model="votesPerUser">
          </div>

        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'Settings',
  data() {
    return {
      show: false,
      duration: 30,
      votesToPass: 1000,
      votesPerUser: 30
    }
  }
}
</script>


<style scoped lang="less">

  .settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 50%;
    position: relative;
  }

  .settings__icon{
    width: 32px;
    height: 32px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease-in;

    &:hover {
      background: #f3f4f6;
    }
  }

  .settings > .settings__icons_active{
    background: #eaedf3;

    .material-icons{
        color:#8495a3;
      }
  }

  .settings__menu{
    position: absolute;
    top: 50px;
    left: calc( -108px + 16px );
    width: 216px;
    border: 1px solid #c8d2dd;
    border-radius: 3px; 
    box-sizing: border-box;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05), 0 2px 12px 0 rgba(132, 149, 163, 0.32);
    color: #3c4a5a;
    font-family: Lato, sans-serif;

    &::before{
      content:"";
      position: absolute; 
      width: 16px;
      height: 16px;
      left: calc(106px - 8px);
      top: -9px;
      transform: rotate(45deg);
      border-left: 1px solid #c8d2dd;
      border-top: 1px solid #c8d2dd;
      box-sizing: border-box;
      background:#fff;
      z-index: 10;
    }
  }

  .settings__menu_rules{
    padding: 10px 16px;
    border-bottom: 1px solid #c8d2dd;
    font-size: 14px;
    font-weight: bold;
  }

  .settings__menu_inputs{
    
    label{
      font-size: 11px;
      letter-spacing: 0.9px;
      font-weight: bold;
      text-transform: uppercase;
    }

    input{
      border: none;
      outline: none;
      caret-color: #2db9f0;
      border-bottom: 2px solid #fff;
      font-size: 14px;
      line-height: 1.43em;
      margin: 8px 0 6px 0;
      
      &:focus {
        border-bottom: 2px solid #2db9f0;
      }
    }
  }

  .settings__menu_duration{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    padding: 9px 0 6px 16px;
    height: 56px;

    input{
      width: 21px; 
    }

    &:focus-within label{
      color:#2db9f0;
    }
  }

  .settings__menu_minvotes{
    margin-top: 4px;
    padding-top: 4px;
    padding-left: 16px;
    height: 56px;
    display: flex;
    flex-direction: column;

    input{
      width: 45px;
    }

    &:focus-within label{
      color:#2db9f0;
    }
  }

  .settings__menu_uservotes{
    margin-top: 4px;
    padding-top: 4px;
    padding-left: 16px;
    height: 56px;
    display: flex;
    flex-direction: column;

    input{
      width: 21px;
    }

    &:focus-within label{
      color:#2db9f0;
    }
  }

  .material-icons{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color:#b2bdc6;
    font-size: 16.4px;
  }

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to  {
  opacity: 0;
}
</style>
