<template>
  <div id="app">
    <Settings />
  </div>
</template>

<script>
import Settings from './components/Settings.vue'

export default {
  name: 'app',
  components: {
    Settings
  }
}
</script>

<style lang="less">
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
</style>
